@media screen and (max-width: 576px) {

    /* nav section start */
    .nav_title {
        font-size: 1.8rem;
    }

    .nav_link {
        text-decoration: none;
        font-size: 1rem;
        color: #FFFFFF;
        font-weight: 500;
        display: none;
    }

    .nav_button {
        display: none;
    }

    .nav_icon {
        display: block;
        font-size: 1.8rem;
        color: white;
    }

    /* nav section end */

    /* about section start */
    .about_content {
        padding-top: 2rem;
    }

    .about_title {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .paragraph_1,
    .paragraph_2 {
        font-size: 16px;
        line-height: 20px;
    }
    .paragraph_2{
    padding-bottom: 40px;
}

    .about_card_container {
        padding-top: 30px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 80px;
    }

    .card {
        padding: 8px 8px;
    }

    .card_title {
        font-size: 1.8rem;
    }

    .average_icon {
        font-size: 1.5rem;
    }

    .card_text {
        font-size: 10px;
    }

    /* about section end */

    /* why_choose_parent start */

.why_choose_container {
    padding-top: 50px;
}

.why_choose_title {
    font-size: 1.5rem;
}

.why_choose_container_card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 25px;
}

.big_card {
    grid-column: span 1;
    grid-row: span 1;
}

.small_card {
    grid-column: span 1;
    grid-row: span 1;
}

.very_small_card {
    grid-column: span 1;
    grid-row: span 1;
}

.why_card {
    padding: 24px;
    border-radius: 24px;
}

.why_main_card {
    margin-top: 0px;
}

.why_card_title{
    font-size: 1.3rem;
}
.why_card_paragraph{
    font-size: 14px;
    line-height: 20px;
}

/* why_choose_parent end */
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    /* nav section start */

.nav_content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.nav_title {
    font-size: 1.8rem;
}

    .nav_icon {
        display: block;
        font-size: 1.8rem;
        color: white;
    }
.nav_menu {
    display: none;
}

.nav_link {
    font-size: 1rem;
}

/* nav section end */


/* about section start */
/* div 2 */
.about_card_container{
    grid-template-columns: repeat(2, 1fr);
}
/* about section end */

    /* why_choose_parent start */

.why_choose_container {
    padding-top: 50px;
}

.why_choose_title {
    font-size: 1.5rem;
}

.why_choose_container_card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 25px;
}

.big_card {
    grid-column: span 1;
    grid-row: span 1;
}

.small_card {
    grid-column: span 1;
    grid-row: span 1;
}

.very_small_card {
    grid-column: span 1;
    grid-row: span 1;
}

.why_card {
    padding: 24px;
    border-radius: 24px;
}

.why_main_card {
    margin-top: 0px;
}

.why_card_title{
    font-size: 1.3rem;
}
.why_card_paragraph{
    font-size: 14px;
    line-height: 20px;
}

/* why_choose_parent end */
}