@media screen and (max-width: 576px) {

    /* nav section start */
    .nav_title {
        font-size: 1.8rem;
    }

    .nav_link {
        text-decoration: none;
        font-size: 1rem;
        color: #FFFFFF;
        font-weight: 500;
        display: none;
    }

    .nav_button {
        display: none;
    }

    .nav_icon {
        display: block;
        font-size: 1.8rem;
        color: white;
    }

    /* nav section end */

    /* about section start */
    .about_content {
        padding-top: 2rem;
    }

    .about_title {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .paragraph_1,
    .paragraph_2 {
        font-size: 16px;
        line-height: 20px;
    }
    .paragraph_2{
    padding-bottom: 40px;
}

    .about_card_container {
        padding-top: 30px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 80px;
    }

    .card {
        padding: 8px 8px;
    }

    .card_title {
        font-size: 1.8rem;
    }

    .average_icon {
        font-size: 1.5rem;
    }

    .card_text {
        font-size: 10px;
    }

    /* about section end */

    /* why_choose_parent start */

.why_choose_container {
    padding-top: 50px;
}
.why_choose_parent {
    background-color: #230E3D;
}
.why_choose_title {
    font-size: 1.5rem;
}

.why_choose_container_card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 25px;
}

.big_card {
    grid-column: span 1;
    grid-row: span 1;
}

.small_card {
    grid-column: span 1;
    grid-row: span 1;
}

.very_small_card {
    grid-column: span 1;
    grid-row: span 1;
}

.why_card {
    padding: 24px;
    border-radius: 24px;
}

.why_main_card {
    margin-top: 0px;
}

.why_card_title{
    font-size: 1.3rem;
}
.why_card_paragraph{
    font-size: 14px;
    line-height: 20px;
}

/* why_choose_parent end */
/* Featured Episodes section start */
.featured_content{
    padding: 70px 0;
}
.featured_title{
    font-size: 2rem;
}

.video_container{
    margin-top: 30px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.video_description{
    padding: 16px;
}

.video_title{
    font-size: 1.2rem;
}

.video_time_container{
    gap: 8px;
}

/* meet_container */
.meet_container{
    margin-top: 30px;
}
.meet_title{
    font-size: 2.5rem;
}

.meet_card{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    padding: 30px;
    border-radius: 20px;
}

.meet_card_description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.meet_card_title{
    font-size: 2rem;
}

.meet_social_icon{
    justify-content: center;
}

/* Featured Episodes section end */
/* footer_container */
footer{
    margin-top: 60px;
    margin-bottom: 0px;
}
.footer_container{
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer_content{
    gap: 15px;
}

.footer_title{
    font-size: 2rem;
}



.footer_social_icon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    max-width: 641px;
}
.footer_copy_right{
    color: #FFFFFF;
    font-size: 0.8rem;
}

}

@media screen and (min-width: 577px) and (max-width: 992px) {
    /* nav section start */

.nav_content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.nav_title {
    font-size: 1.8rem;
}

    .nav_icon {
        display: block;
        font-size: 1.8rem;
        color: white;
    }
.nav_menu {
    display: none;
}

.nav_link {
    font-size: 1rem;
}

/* nav section end */


/* about section start */
/* div 2 */
.about_card_container{
    grid-template-columns: repeat(2, 1fr);
}
/* about section end */

    /* why_choose_parent start */

.why_choose_container {
    padding-top: 50px;
}

.why_choose_title {
    font-size: 1.5rem;
}

.why_choose_container_card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 25px;
}

.big_card {
    grid-column: span 1;
    grid-row: span 1;
}

.small_card {
    grid-column: span 1;
    grid-row: span 1;
}

.very_small_card {
    grid-column: span 1;
    grid-row: span 1;
}

.why_card {
    padding: 24px;
    border-radius: 24px;
}

.why_main_card {
    margin-top: 0px;
}

.why_card_title{
    font-size: 1.3rem;
}
.why_card_paragraph{
    font-size: 1rem;
    line-height: 20px;
}

/* why_choose_parent end */
/* Featured Episodes section start */
.featured_content{
    padding: 70px 0;
}
.featured_title{
    font-size: 2rem;
}

.video_container{
    margin-top: 30px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.video_description{
    padding: 16px;
    height: 200px;
}
iframe{
    height: 500px;
}

.video_title{
    font-size: 1.2rem;
}

.video_time_container{
    gap: 8px;
}

.meet_card{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
    padding: 30px;
    border-radius: 20px;
}
.meet_social_icon{
    justify-content: center;
}
/* Featured Episodes section end */
/* footer_container */
.footer_container{
    padding: 80px;
}

.footer_title{
    font-size: 3rem;
}

.footer_content{
    gap: 25px;

}

.footer_social_icon{
    gap: 20px;
}

.footer_icon{
    font-size: 12px;

}

}