* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;
}

/* common class start */
.container {
    max-width: 85%;
    margin: 0 auto;
}

.btn_primary {
    padding: 12px 16px;
    border-radius: 10000px;
    border: none;
    background: linear-gradient(47deg, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

.btn_primary:hover {
    background: linear-gradient(47deg, #f7e83fd5, #fb09b2d5, #9100f8d3);
}

/* common class end */

/* header section start here */
/* nav section start */
.nav_container {
    border-bottom: 1px solid rgb(48, 26, 92);
}

.nav_content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.nav_title {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 700;
}

#nav_title_gradient_color {
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav_menu {
    display: flex;
    gap: 32px;
    list-style: none;

}

.nav_link {
    text-decoration: none;
    font-size: 1.3rem;
    color: #FFFFFF;
    font-weight: 500;
}

.nav_link:hover {
    color: rgb(122, 216, 233);
}

.nav_icon {
    display: none;
}

/* nav section end */


/* header section end here */

/* main section start */
/* about section start */
.about_content {
    padding-top: 3rem;
    border-bottom: 1px solid rgb(48, 26, 92);
    text-align: center;
    justify-items: center;
}

.about_title {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.paragraph_1 {
    font-size: 1rem;
    color: #FFFFFF;
    max-width: 714px;
    margin-bottom: 1.5rem;
    line-height: 25px;
}

.paragraph_2 {
    font-size: 1rem;
    color: #FFFFFF;
    padding-bottom: 70px;
}

/* div 2 */
.about_card_container {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
        margin-bottom: 120px;
}

.about_card_container .card {
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}

.card_title {
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}

.average_parent {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.average_icon {
    font-size: 2rem;
    color: #00FF88;
    margin-top: -20px;
}

.card_text {
    font-size: 1rem;
    color: #FFFFFF;
}

/* about section end */

/* why_choose_parent start */
.why_choose_parent {
    background-color: #230E3D;
}

.why_choose_container {
    padding-top: 100px;
}

.why_choose_container_title {
    text-align: center;
    margin-bottom: 40px;
}

.why_choose_title {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.why_choose_container_card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}

.big_img {
    grid-column: span 2;
    grid-row: span 2;
}

.big_img_small {
    grid-column: span 4;
    grid-row: span 1;
}

.small {
    grid-column: span 2;
    grid-row: span 1;
}

.why_card {
    padding: 30px;
    border-radius: 40px;
    background-color: #351165;
}

.why_main_card {
    margin-top: 100px;
}

.why_card_title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    margin: 16px 0;
}
.why_card_paragraph{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 24px;
}

/* why_choose_parent end */
/* main section end */